<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <style>
        a {
            color: #0122ca;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

    </style>
</head>
<body style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:0; padding:0; color:#333333; background-color: white">

<table width="100%"  cellpadding="0" cellspacing="0" border="0"
       class="container">
    <thead></thead>
    <tbody>
        <tr>
            <td>
                {% block content %}
                {% endblock %}
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
