<table>
    <thead></thead>
    <tbody>
    <tr>
        <td style="width: {{ space_left_customer }}%"></td>
        <td style="width: {{ 100-space_left_customer-space_right_customer }}%">
            <table style="background-color: {{background_color_customer}} " cellspacing="{{ cellspacing_customer }}" cellpadding="{{cellpadding_customer  }}">
                <thead></thead>
                <tbody>
                <tr class="row-labeled">
                    <td>Name</td>
                    <td>{{ customer.name }}</td>
                </tr>
                <tr class="row-labeled">
                    <td>Straße, Nr.</td>
                    <td>{{ customer.street }}, {{ customer.street_no }}</td>
                </tr>
                <tr class="row-labeled">
                    <td>PLZ Stadt</td>
                    <td>{{ customer.post_code }} {{ customer.city }}</td>
                </tr>
                <tr class="row-labeled">
                    <td>E-Mail</td>
                    <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
                </tr>
                <tr class="row-labeled">
                    <td>Telefon</td>
                    <td><a href="tel:{{ customer.data.phone }}">{{ customer.data.phone }}</a></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width: {{ space_right_customer }}%"></td>
    </tr>
    </tbody>
</table>



