<table style="text-align: left;" cellpadding="{{cellpadding_general_data}}" cellspacing="{{cellspacing_general_data}}">
    <thead></thead>
    <tbody>
    <tr>
        <td style="width: {{ space_left_general_data }}%"></td>
        <td style="width: {{100-space_left_general_data-space_right_general_data}}%;  background-color: {{ background_color_general_data }};">
            <table>
                <thead></thead>
                <tbody>
                <tr>
                    <td class="bold" style="padding: 0 4px 9px 0">Datum</td>
                    <td class="mono bold" style="padding-bottom: 9px">{{ order.date }}</td>
                </tr>
                <tr>
                    <td class="bold" style="padding: 0 4px 9px 0">Order ID</td>
                    <td class="mono bold" style="padding-bottom: 9px">{{ order.id }}</td>
                </tr>
                <tr>
                    <td class="bold" style="padding: 0 4px 9px 0">Order No.</td>
                    <td class="mono bold" style="padding-bottom: 9px">{{ order.order_no }}</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width: {{space_right_general_data}}%"></td>
    </tr>
    </tbody>
</table>