<table>
    <thead></thead>
    <tbody>
        <tr>
            <td style="width: {{ space_left_links }}%"></td>
            <td style="width: {{ 100-space_left_links-space_right_links }}%">
                <table cellpadding="{{ cellpadding_links }}" cellspacing="{{ cellspacing_links }}" style="background-color: {{ background_color_links }}">
                    <thead></thead>
                    <tbody>
                    <tr class="row-labeled">
                        <td>Admin Order</td>
                        <td><a href="https://admin.gerharz-weinerlebnis.de/de/shop/order/{{ order.id }}">Manage Order</a>
                        </td>
                    </tr>
                    <tr class="row-labeled">
                        <td>Admin</td>
                        <td><a href="https://admin.gerharz-weinerlebnis.de/dashboard">Admin Dashboard</a></td>
                    </tr>
                    <tr class="row-labeled">
                        <td>Project Startpage</td>
                        <td><a href="{{ url.home }}">{{ url.home }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: {{ space_left_links }}%"></td>
        </tr>
    </tbody>
</table>

