<table cellspacing="{{ cellspacing_price }}" cellpadding="{{ cellpadding_price }}">
    <thead></thead>
    <tbody>
        <tr>
            <td>Preis</td>
            {% if product.product.data.bundle %}
                <td style="text-align: right">{{ (product.product.data.bundle.totalPrice/100)|number_format(2, '.', ',') }}€
                </td>
                <td style="text-align: right">{{ (product.product.data.bundle.totalPrice/100) * product.qty|number_format(2, '.', ',') }}
                    €
                </td>
            {% else %}
                <td style="text-align: right">{{ (product.product.price/100)|number_format(2, '.', ',') }} €</td>
                <td style="text-align: right">{{ (product.product.price/100) * product.qty|number_format(2, '.', ',') }}€
                </td>
            {% endif %}
        </tr>
    </tbody>
</table>