<table>
    <thead></thead>
    <tbody>
        <tr>
            <td style="width: {{ space_left_product }}%"></td>
            <td style="width: {{ 100-space_left_product-space_right_product }}%">
                <table >
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td class="headline" style="font-weight: bolder">Artikel</td>
                    </tr>
                    <tr>
                        <td>{% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '20px'} %}</td>
                    </tr>
                    {% if display_hr_before_overview_list %}
                        <tr>
                            <td>
                                <hr style="color: blue"/>
                            </td>
                        </tr>
                    {% endif %}
                    {% if display_bar_before_overview_list %}
                        <tr>
                            <td style="height: {{ display_overview_bar_height }}; background-color: {{ display_overview_bar_color }}; ">
                                <div></div>
                            </td>
                        </tr>
                    {% endif %}
                    {% include namespace ~ 'mail/content_blocks/product_overview.twig' %}
                    <tr>
                        <td class="headline" style="font-weight: bolder">Artikel</td>
                    </tr>
                    <tr>
                        <td>{% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '20px'} %}</td>
                    </tr>
                    {% if display_hr_before_detail_list %}
                        <tr>
                            <td>
                                <hr style="color: blue"/>
                            </td>
                        </tr>
                    {% endif %}
                    {% if display_bar_before_detail_list %}
                        <tr>
                            <td style="height: {{ display_detail_bar_height }}; background-color: {{ display_detail_bar_color }}; ">
                                <div></div>
                            </td>
                        </tr>
                    {% endif %}
                    {% include namespace ~ 'mail/content_blocks/product_details.twig' %}
                    </tbody>
                </table>
            </td>
            <td style="width: {{ space_right_product }}%"></td>
        </tr>
    </tbody>
</table>

