{% for product in products %}
    <tr>
        <td>
            <table cellpadding="{{ cellpadding_product }}", cellspacing="{{ cellspacing_product }}">
                {% if product.product.product_no %}
                    <tr class="row-labeled">
                        <td>ProductNo.</td>
                        <td>{{ product.product.product_no }}</td>
                    </tr>
                {% else %}
                    <tr class="row-labeled">
                        <td>ID</td>
                        <td>{{ product.product.id }}</td>
                    </tr>
                {% endif %}
                {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 2} %}

                <tr class="row-labeled">
                    <td>Name</td>
                    <td class="bold">{{ product.product.data.info.name }}</td>
                </tr>
                {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 2} %}
                <tr class="row-labeled">
                    <td>Menge{% if product.product.data.size %} / Gebinde{% endif %}</td>
                    <td class="bold mono">{{ product.qty }}x
                        {% if product.product.data.size %}
                            <span>{{ product.product.data.size.value }} {{ product.product.data.size.unit }}</span>
                        {% endif %}
                    </td>
                </tr>

                {% if product.product.data.year %}
                    {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 2} %}
                    <tr class="row-labeled">
                        <td>Jahrgang</td>
                        <td>{{ product.product.data.year }}</td>
                    </tr>
                {% endif %}

                {% if product.product.data.sweetness %}
                    {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 2} %}
                    <tr class="row-labeled">
                        <td>Geschmacksrichtung</td>
                        <td>{{ product.product.data.sweetness }}</td>
                    </tr>
                {% endif %}
                {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 2} %}
                <tr class="row-labeled">
                    <td>Preis</td>
                    <td>{{ (product.product.price/100)|number_format(2, '.', ',') }} €</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            {% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '16px'}  %}
        </td>
    </tr>
{% endfor %}