{% for product in products %}
    <tr>
        <td>
            <table cellpadding="{{ cellpadding_product }}", cellspacing="{{ cellspacing_product }}">

                {% if product.product.product_no %}
                    <tr class="row-labeled">
                        <td>ProductNo.</td>
                        <td>{{ product.product.product_no }}</td>
                    </tr>
                {% else %}
                    <tr class="row-labeled">
                        <td>ID</td>
                        <td>{{ product.product.id }}</td>
                    </tr>
                {% endif %}
                {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 2} %}
                <tr class="row-labeled">
                    <td>Name</td>
                    <td class="bold">{{ product.product.data.info.name }}</td>
                </tr>
                {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 2} %}
                <tr class="row-labeled">
                    <td>Menge{% if product.product.data.size %} / Gebinde{% endif %}</td>
                    <td class="bold mono">{{ product.qty }}x
                        {% if product.product.data.size and not product.product.data.bundle %}
                            <span>{{ product.product.data.size.value }} {{ product.product.data.size.unit }}</span>
                        {% elseif product.product.data.bundle %}
                            <table cellpadding="{{ cellpadding_product }}", cellspacing="{{ cellspacing_product }}">
                                {% for bundled_product in product.product.data.products %}
                                    <tr>
                                        <td>{{ bundled_product.product_no }}</td>
                                        <td style="padding-right: 6px">{{ product.product.data.bundled[bundled_product.product_no].data.info.name }}</td>
                                        <td style="padding-right: 6px">{{ bundled_product.qty }}x</td>
                                        <td style="padding-right: 6px">{{ product.product.data.bundled[bundled_product.product_no].data.size.value }}
                                            ltr.
                                        </td>
                                    </tr>
                                    {% if hr_between_bundle %}
                                    {% include namespace ~'mail/helper_fragments/hr.twig' with {'colspan_hr': 4} %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                </tr>
                {% if product.product.data.year %}
                    <tr class="row-labeled">
                        <td>Jahrgang</td>
                        <td>{{ product.product.data.year }}</td>
                    </tr>
                {% endif %}

                {% if product.product.data.sweetness %}
                    <tr class="row-labeled">
                        <td>Geschmacksrichtung</td>
                        <td>{{ product.product.data.sweetness }}</td>
                    </tr>
                {% endif %}
               <tr style="height: {{space_to_price}}"><td></td><td></td></tr>
               <tr class="row-labeled" style="height: {{ height_price }}">
                   <td colspan="2" style="height: {{ height_price }}; background-color: {{ background_color_price }}; ">
                       {% include namespace~ 'mail/content_blocks/price.twig' %}
                   </td>

                </tr>
            </table>
        </td>
    </tr>
{% endfor %}