{% extends namespace ~ '_meta.twig' %}

{% block content_main_inner %}
    {{ content.getActiveArticle().renderBlock('main_content')|raw }}

    <div class="pdf-preview">
        <div class="pdf-preview--control">
            <dialog class="modalbox"><div style="color: red" onclick="document.querySelector('.modalbox').style.display = 'none'">Schließen</div></dialog>

            <input type="text" class="dropbtn dropbtn--select"
                   placeholder="Wählen Sie ihr PDF-Dokument">

            <div class="dropdown-content">
                {% for pdf in pdfArray %}
                    <button type="button" class="dropdown-item" data-rootpath="{{ rootpath }}" data-subdirectory="{{ subdirectory }}"
                            data-value="{{ pdf }}"
                    >{{ pdf }}</button>
                {% endfor %}
            </div>
        </div>

        <div class="pdf-preview--output" style="display:none">
            <div class="iframe_container" style="margin-bottom: 50px">
                <iframe class="pdf-preview--view" style="height: 500px; width: 600px; margin-top: 20px; overflow: hidden"></iframe>
            </div>
            <a href="/pdf" target="_blank" class="pdf-preview--download dropbtn">Download PDF</a>

                <input type="text" class="dropbtn mailAdress" placeholder="Geben Sie Ihre Mailadresse an" data-email=""/>
                <div class="dropbtn mailSend" >PDF senden<div>


        </div>
    </div>


    <style>

        .modalbox:not([open]) {
            display: none;
            position: fixed;
            left: 0;
            right: 0;
            background-color: lightgrey;
            padding: 20px;
        }


        .dropbtn {
            background-color: #009999;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        .dropbtn--select {
            padding: 10px 10px;
            min-width: 300px;
        }

        .pdf-preview--control {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content .dropdown-item {
            margin: 0px;
            padding: 0px;
            min-width: 160px;
            border-style: none !important;
            border: none !important;
            border-collapse: collapse !important;
            outline: none !important;
            outline-style: none;
            box-shadow: none;
            background-color: #f9f9f9;
        }

        .dropdown-content .dropdown-item {
            color: black;
            background-color: #f9f9f9;
            padding: 12px 16px;
            min-width: 160px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content button:hover {
            background-color: #f1f1f1
        }

        .dropdown-content .dropdown-item:hover {
            background-color: lightgray;
        }

        .pdf-preview--control:hover .dropdown-content {
            display: block;
        }

        .pdf-preview--control:hover .dropbtn--select {
            background-color: lightgray;
        }


    </style>
{% endblock %}