{% extends namespace ~ 'mail/base/base_invoice.twig' %}
{% block content %}
    {% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '0px'} %}
    {#{% include namespace ~ 'mail/header.twig' %}#}
    {% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '0px'} %}
    {# DATUM UND ID#}
    <div style="margin-top: 300px">
    {% include namespace ~ 'mail/content_blocks/invoice_general_data.twig' with {
        'space_left_general_data': 5,
        'space_right_general_data': 30,
        'background_color_general_data': 'lightgray',
        'cellpadding_general_data': 5,
        'cellspacing_general_data': 0
    } %}
    </div>
    {% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '20px'} %}
    {# CUSTOMER#}
    {% include namespace ~ 'mail/content_blocks/customer.twig' with {
        customer: order.customer,
        'space_left_customer': 5,
        'space_right_customer': 30,
        'background_color_customer': '',
        'cellpadding_customer': 0, 'cellspacing_customer': 0
    } %}
    {% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '20px'} %}
    {# PRODUCT #}
    {% include namespace ~ 'mail/content_blocks/product.twig' with {
        products: order.products,
        'cellpadding_product': 0,
        'cellspacing_product': 0,
        'space_left_product': 5,
        'space_right_product': 5,
        'background_color_price': 'yellowgreen',
        'space_to_price': '5px',
        'height_price': '30px',
        'cellpadding_price': 5,
        'cellspacing_price': 0,
        'display_hr_before_overview_list': false,
        'display_bar_before_overview_list': false,
        'display_overview_bar_color': 'grey',
        'display_overview_bar_height': '20px',
        'display_hr_before_detail_list': false,
        'display_bar_before_detail_list': false,
        'display_detail_bar_color': 'grey',
        'display_detail_bar_height': '20px',
        'hr_product': true, 'hr_between_bundle': true} %}
    {# LINKS#}
    {% include namespace ~ 'mail/helper_fragments/_base_spacer.twig' with {'height': '50px'} %}
    {% include namespace ~ 'mail/content_blocks/invoice_links.twig' with {
        'space_left_links': 30,
        'space_right_links': 30,
        'background_color_links': '#eeffc1',
        'cellpadding_links': 5,
        'cellspacing_links': 5
    } %}
{% endblock %}