<table id="footer" style="color: gray">
    <tr style="border-collapse: collapse">
        <td border="0"><div class="footerflexbox" style="text-align: center">+ 049 1111 111 111<br>info@shop.com<br>shop.com</div></td>
        <td border="0"><div class="footerflexbox" style="text-align: center">Tax_id: 11111<br>Some Other ID 1111<br>CEO:<br>Shop Owner</div></td>
        <td border="0"><div class="footerflexbox" style="text-align: center">Random Bank<br>Random IBAN<br>Random BIC</div></td>
    </tr>
</table>