<table width="100%" bgcolor="#eeffc1" cellpadding="0" cellspacing="0" border="0"
       class="container" style="padding: 0">
    <tr>
        <td style="height: 10px">
        </td>
    </tr>
    <tr>
        <td style="background-color: #eeffc1; padding: 12px 5px; display: block; color: #000000; text-align: center;">
            YOUR SHOP<br>
            Order accepted.
        </td>
    </tr>
    <tr>
        <td style="height: 10px">
        </td>
    </tr>
</table>