<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Thank you for your order</title>
</head>
<body style="background-color: whitesmoke; font-family: Arial, Helvetica, sans-serif;">
<table class="maintable" style="background-color: white; width: 80%;margin: 20px auto;border-collapse: collapse;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <thead></thead>
    <tbody>
    <tr>
        <td class="sliderbox" style="background-color: #eeffc1; padding: 50px 0px; text-align: center;"><h1>Vielen Dank für Ihre
                Bestellung</h1></td>
    </tr>
    <tr>
        <td style="padding: 30px 0px; text-align: center;">
            <h3>Hier finden Sie Ihre Rechnung und die Details zur Sendung</h3>
            <p style="color: dimgrey">Wir sagen: Prost!</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 30px 0px; text-align: center;">
            <div class="button"
                 style="padding: 10px; background-color: greenyellow; border-radius: 4px; max-width: 200px; margin: 10px auto;">
                <h4>Nur für kurze Zeit: 10% Rabatt auf alle Packs</h4></div>
            <h4>Ihr Gutscheincode: BLA</h4>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <h3>Rechnungsdetails:</h3>
            <div class="spacerbox"
                 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: #7f7f7f; height: 3px; max-width: 400px; margin: auto;"></div>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <table style="color: dimgrey; width: 50%; margin: auto">
                <thead></thead>
                <tbody>
                <tr>
                    <td style="text-align: right; width: 50%; padding: 0px 10px"><h5>Sendungsdatum</h5></td>
                    <td style="text-align: left; width: 50%; padding: 0px 10px">1.1.2020</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 50%; padding:0 10px"><h5>Sendungsdatum</h5></td>
                    <td style="text-align: left; width: 50%; padding:0 10px">1.1.2020</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 50%; padding:0 10px"><h5>Sendungsdatum</h5></td>
                    <td style="text-align: left; width: 50%; padding:0 10px">1.1.2020</td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 50%; padding:0 10px"><h5>Sendungsdatum</h5></td>
                    <td style="text-align: left; width: 50%; padding:0 10px">1.1.2020</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div style="color: dimgrey; padding: 10px; font-size: 10px">Einige Impressumdaten, sowie Kontonr usw.</div>
        </td>
    </tr>
    </tbody>
    <tr>
        <td></td>
    </tr>
</table>
</body>

<style type="text/css">
    body {
        background-color: whitesmoke;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .maintable {
        background-color: white;
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    table {
        width: 50%;
        margin: auto;
    }

    td {
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    .sliderbox {
        background-color: #eeffc1;
        padding: 50px 0px;
    }

    .button {
        padding: 10px;
        background-color: greenyellow;
        border-radius: 4px;
        max-width: 200px;
        margin: 10px auto;
    }

    .spacerbox {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #7f7f7f;
        height: 3px;
        max-width: 400px;
        margin: auto;
    }


</style>
</html>
