<table>
    <thead></thead>
    <tbody>
    <tr id="row_11">
        <td colspan="4" border="0"><div>Zahlungsziel: {{due_date}} </div>
            <div><strong>Verwendungszweck: nur Rechnungsnummer: {{invoice_nr}}</strong></div>
            <div>Die aufgelisteten Dienste/Produkte sind gemäß unseren AGB geliefert worden.<br>Lieferadresse entspricht Rechnungsadresse. Rechnungsdatum entspricht Lieferdatum, wenn nicht anders angegeben.</div>
        </td>
    </tr>
    </tbody>
</table>