<table>
    <thead></thead>
    <tbody>
        <tr><td style="height: 20px"></td></tr>
        <tr>
            <td style="width: 10%"></td>
            <td style="width: 80%"> {% include 'note_of_thanks.twig' %}
                <table cellpadding="10" cellspacing="0" style="color: gray(); margin-left: auto; margin-right: auto">
                    <thead></thead>
                    <tbody>
                    <tr id="row_1"><td id="sidebar"
                                       style="width: 10%; height: 700px;background-color:darkgrey;" rowspan="1" colspan="1"
                        >
                            <div id="sidebartext" style="color: white; font-size: 24px; font-weight: bold">Nr:</div>
                        </td>
                        <td class="placeholder" style="width: 90%;" colspan="4">
                            <table>
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <td>{% include 'invoice_head.twig' %}</td>
                                </tr>
                                <tr>
                                    <td>{% include 'ordertable.twig' %}</td>
                                </tr>
                                <tr>
                                    <td>{% include 'annotations.twig' %}</td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" style="background-color: yellowgreen; width: 10%; height: 20px"></td>
                        <td colspan="4" style="width: 90%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 10%"></td>
        </tr>
    </tbody>
</table>