<table style="color: {{color}}'" cellpadding="5">
    <thead></thead>
    <tbody>
    <tr><td style="height: 15px"></td></tr>
    <tr>
        <td style="width: 10%; text-align: center;"></td>
        <td style="width: 80%; text-align: center; font-size: 18px"><div>If you have any questions left, get in touch</div></td>
        <td style="width: 10%; text-align: center;"></td>
    </tr>
    <tr style="height: 15px"><td></td></tr>
    <tr>
        <td style="width: 40%; text-align: center;"></td>
        <td style="width: 20%; text-align: center; background-color: #38958c; border-radius: 30%;"><a style="text-decoration: none; font-size: 18px; color: whitesmoke" href="/contact">Contact</a></td>
        <td style="width: 40%; text-align: center;"></td>
    </tr>
    <tr><td style="height: 20px"></td></tr>
    </tbody>
</table>