<table id="footer" style="margin-bottom: PDF_MARGIN_BOTTOM; position: absolute; bottom: 30px; color: gray">
    <tr style="border-collapse: collapse">
        <td border="0"><div class="footerflexbox" style="text-align: center">+11111111<br>yoursite<br>yourmail</div></td>
        <td border="0"><div class="footerflexbox" style="text-align: center">SomeNr<br>SomeNr<br>CEO:<br>Your name</div></td>
        <td border="0"><div class="footerflexbox" style="text-align: center">Bank<br>IBAN<br>BIC</div></td>
    </tr>
</table>