<table style="width: 100%; height: 200px; background-color: #eeffc1">
    <thead></thead>
    <tbody>
    <tr >
        <td style="height: 20px"></td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 30px">YOUR SHOP</td>
    </tr>
    <tr>
        <td style="text-align: center"><img src="{{ logo_header }}" style="height: 30px; width: auto; padding: 30px"/></td>
    </tr>
    </tbody>
</table>