<table cellpadding="10" cellspacing="0" style="color: gray; ">
    <thead>
    </thead>
    <tbody>
    <tr id="row_2">
        <td id="receiver" colspan="2">
            <div ><strong >An:</strong><br>Name<br>Adresse<br>Stadt</div>
        </td>
        <td id="date"  colspan="2" border="0" ><div style="text-align: right;"><strong>Datum:</strong><br>{{ "now"|date("d/m/Y") }}</div></td>
    </tr>
    <tr id="row_3" cellpadding="0">
        <td colspan="4"><div class="placeholder" style="height: 20px"></div></td>
    </tr>
    <tr id="row_4_green_bar" style="background-color: yellowgreen">
        <td colspan="1" style="text-align: center; color: whitesmoke;" ><div style=""><strong >Menge</strong></div></td>
        <td colspan="1" style="text-align: center; color: whitesmoke" ><strong>Beschreibung</strong></td>
        <td colspan="1" style="text-align: center; color: whitesmoke" ><strong>Einzelpreis €</strong></td>
        <td colspan="1" style="text-align: center; color: whitesmoke" ><strong>Summe €</strong></td>
    </tr>
    </tbody>
</table>