<table style="color: {{color}}">
    <thead></thead>
    <tbody>
    <tr><td style="height: 15px"></td></tr>
    <tr>
        <td style="width: 10%;"></td>
        <td style="width: 80%; text-align: center"><div style="text-align: center; font-size: 20px"><strong>Thank you for your order</strong><br>Cheers!</div></td>
        <td style="width: 10%"></td>
    </tr>
    <tr><td style="height: 15px"></td></tr>
    </tbody>
</table>