<table>
    <thead></thead>
    <tbody>
    {% for key, value in article_array_raw %}
        {% include 'product_row.twig' %}
    {% endfor %}
    <tr id="row_5">
        <td colspan="2"></td>
        <td border="0" style="text-align: right">Zwischensumme</td>
        <td>{{sum}}</td>
    </tr>
    <tr id="row_n" style="max-height: 1px">
        <td colspan="4"><div style="color: yellowgreen; border-color: yellowgreen"></div></td>
    </tr>
    <tr id="row_7" style="max-height: 20px">
        <td colspan="2"></td>
        <td border="0" style="text-align: right">zzgl. 19% MwSt</td>
        <td>{{taxes}}</td>
    </tr>
    <tr id="row_8" style="max-height: 1px">
        <td colspan="4"><div style="color: yellowgreen; border-color: yellowgreen"></div></td>
    </tr>
    <tr id="row_9" style="max-height: 20px; margin-top: 0px">
        <td colspan="2"></td>
        <td border="0"><strong style="font-weight: bold; text-align: right; margin-top: 0px">Gesamtsumme</strong></td>
        <td>{{ sum_with_taxes }}</td>
    </tr>
    <tr id="row_10" style="max-height: 1px">
        <td colspan="4"><div style="color: yellowgreen; border-color: yellowgreen"></div></td>
    </tr>
    </tbody>
</table>