<tr cellpadding="5">
    {% set article_total = value.sum * value.price_per_unity %}
    <td colspan="1">{{value.sum}}</td>
    <td colspan="1">{{value.description}}</td>
    <td colspan="1">{{value.price_per_unity}}</td>
    <td colspan="1">{{article_total}}</td>
</tr>
<tr style="max-height: 1px">
    <td colspan="4" style="border-color: yellowgreen"></td>
</tr>