<tr cellpadding="5">
    {% set article_total = article.sum * article.price_per_unity %}
    <td colspan="1">{{article.sum}}</td>
    <td colspan="1">{{article.description}}</td>
    <td colspan="1">{{article.picture}}</td>
    <td colspan="1">{{article.price_per_unity}}</td>
    <td colspan="1">{{article_total}}</td>
</tr>
<tr style="max-height: 1px">
    <td colspan="4" style="border-color: yellowgreen"></td>
</tr>