<form action="" method="post" id="QR-form">
    <input type="submit" id="submit_invoice" name="submit_invoice" value="Get invoice">
</form>


<div>
    /* here will be printed the pdf preview */
</div>